/.vs

/x64/Release/photo-waterfall.exe
/x64/Release/photo-waterfall.exe.recipe
/x64/Release/photo-waterfall.iobj
/x64/Release/photo-waterfall.ipdb
/x64/Release/photo-waterfall.log
/x64/Release/photo-waterfall.obj
/x64/Release/photo-waterfall.pdb
/x64/Release/photo-waterfall.vcxproj.FileListAbsolute.txt
/x64/Release/vc143.pdb
/x64/Release/photo-waterfall.tlog
/x64/Release/libcrypto-3-x64.dll
/x64/Release/libssl-3-x64.dll
/x64/Release/localhost.crt
/x64/Release/localhost.key
/x64/Release/pack.hpp
/x64/Release/wwwroot/img
/photo-waterfall.vcxproj.filters
/photo-waterfall.vcxproj.user
